[2017-01-17 04:41] vonbearshark opened #1 "Add map"
We need a map! We should research good map providers out there, i.e. Google Maps, and see what it takes to integrate them.

[2017-01-17 04:43] vonbearshark opened #2 "Pins"
We should write a function that will drop pin points of data on the map by location. Should at leats include a color and description, and should be accurate to the latitude and longitude provided.

[2017-01-17 04:44] vonbearshark opened #3 "Map interface"
The map needs a user interface overlay. Something to filter out pins, etc.

[2017-01-18 00:02] johnlinahan commented on #1
610d4a5198736dfabf9e73d50bf7b86492d90bcf
Centered it on Oakland's coordinates
[Leaflet](http://leafletjs.com/)
[OpenStreetMap](http://osm.org/) as the map tile layer

[2017-01-20 02:55] seifriedc commented on #3
Working on side bar currently. Have we nailed down some of the filters we'll be doing?

[2017-01-20 03:46] RitwikGupta commented on #1
I propose using OSM

[2017-01-21 05:54] RitwikGupta commented on #2
See PR #9 by @mbilker

[2017-01-22 02:51] mbilker commented on #2
The next step should be to provide icons and allow for more datasets than just the 311 data to be displayed.

[2017-01-22 04:43] seifriedc opened #12 "Pulling from Pitt event calendars"
I think it would be a neat idea if we could pull calendar events from the Pitt Program Council (and/or other calendars) and put them on the map. Not sure if there are APIs for this though.
Any thoughts?

[2017-01-22 05:33] RitwikGupta commented on #2
I don't think that should be the next best step. We should first work on making the function that gets the data robust and able to handle errors and provide feedback in case an error does occur.

[2017-01-22 18:20] RitwikGupta commented on #12
It seems slightly out of scope for this project to me

[2017-01-23 02:06] vonbearshark commented on #2
@RitwikGupta what do you mean? Have one `fetchFromWSPRDC` function that can get all our data from there, and create some kind of standard error function that displays some kind of generic error modal on errors? I think that's a great idea.

@mbilker Do you know if there's some way to filter that 311 data intelligently? I don't see a date field, but there seems to be a "past 100" 311 sub dataset--c

[2017-01-23 02:07] vonbearshark commented on #1
@RitwikGupta aren't we using OSM now for the map tile layer?

[2017-01-23 02:07] #1 closed

[2017-01-23 02:11] johnlinahan commented on #12
I think this would be a great addition, but it seems too difficult. If all the maps we pull from used say, Google Calendar, maybe it would be easy to pool them. But PPC, for instance, is not.

[2017-01-23 02:12] vonbearshark commented on #3
Thanks @seifriedc ! Good question... We're a little hamstrung by the data available with the WPRDC in the API. I'd like to say by date (past day, week, month), but I don't know that date data is available. Any ideas?

[2017-01-23 02:15] RitwikGupta commented on #2
@vonbearshark yep! The current one will just silently die if there's an error.

[2017-01-23 02:17] RitwikGupta commented on #3
Date data exists in every single report object!

[2017-01-23 02:17] johnlinahan opened #13 "Map/Data should only be for Oakland"
The leaflet map currently has the entire world. It should only focus on Oakland:
1. Set a max zoom
2. Lock the movement within certain bounds

We should filter the data as well, some pins are very far away from Oakland like that one 200 miles off the coast of Ghana.

[2017-01-23 02:18] RitwikGupta commented on #13
The "Ghana" pin is actually just 0'0", that person had their location off.

[2017-01-23 02:19] RitwikGupta opened #14 "Zoom buttons are blocked by "Pitt Data Map" text"
The zoom buttons are blocked by text, I suggest making a header bar so that can go there.

[2017-01-23 02:20] mbilker commented on #2
@vonbearshark There is a `CREATED_ON` field that is in a date format. Would have to see if there is a SQL clause to fetch between a certain date range.

From my current knowledge of SQL, a column should be able to be sorted in descending order. From that a number of records can be fetched using a `LIMIT` clause.

[2017-01-23 02:26] vonbearshark commented on #2
@RitwikGupta I'll create a UI milestone issue for creating an error display and we'll integrate that, but, yeah, either way we need to have a big function that can call, handle this error or the data, and display a corresponding label for the pin

[2017-01-23 02:28] vonbearshark commented on #2
@mbilker those SQL strings seem like something we'll have to write ourselves

Issue for global error object: #16

Issue for WPRDC data management function: #17

[2017-01-23 02:29] vonbearshark commented on #14
Yeah we need a whole UI. Might have to re-implement our own zoom in and out buttons

[2017-01-23 02:30] mbilker commented on #2
Yes those SQL statements we need to write ourselves. I am looking into what the schema is for the 311 data.

[2017-01-23 02:31] vonbearshark commented on #13
We should default all unmarked locations to Cathy or something

[2017-01-23 02:33] vonbearshark commented on #3
So far, yeah. I'm looking through the other data we know we will be using, and it looks like these also have date info. So we'll need sorting by date for at least most of the datasets

[2017-01-23 02:35] vonbearshark commented on #12
This seems like an interesting idea, but I also don't think it's in the scope for the semester. Maybe we can work with the groups to standardize the calendars and implement this next year. I'll leave this issue open.

[2017-01-23 02:38] vonbearshark opened #16 "Global notification"
We need a global notification system for errors and alerts. Maybe something like [bootstrap alertss](https://v4-alpha.getbootstrap.com/components/alerts/)? Should pop up and disappear on click. Should stack with other errors and notifications, probably.

[2017-01-23 02:40] vonbearshark opened #17 "WPRDC Data call function"
Should create a function to standardize calls to the WPRDC. Should handle generic data errors and special label icons. We have some example calls now.

[2017-01-23 02:49] vonbearshark opened #18 "Data tab"
In addition to having a map, we should have another tab that just shows the text results. Should allow you to filter through the data that would otherwise be shown on the map. Similar to a SQL query. Again, similar to the way Burgh's Eye View does it: http://analytics.pittsburghpa.gov/BurghsEyeView/, but ours would be structured slightly differently.

[2017-01-23 02:54] seifriedc commented on #14
Currenty working on this. I'll make a PR when I get home. Don't have a header made yet but I have removed the text

[2017-01-23 02:54] RitwikGupta commented on #14
Cool, reference this issue in the PR and we'll track it till the header's committed!

[2017-01-23 02:56] seifriedc commented on #3
Perfect, I'll get on that then

[2017-01-23 03:08] vonbearshark opened #19 "Bike data"
The Bike Pittsburgh organization provides a lot of useful information, lots of it is incorporated in WPRDC's datasets. Would be great to add this to other other data we get.

[2017-01-23 03:10] vonbearshark opened #20 "Housing data"
Would be great to track static infor on landlords and slumlords in Oaklands, matching names with code violations. This might be tricky because the housing violation data available on the WPRDC might not line up exactly with the dataset for who actually owns the building. That mapping information _is_ available, but we might need to ask the county for it.

[2017-01-23 03:12] vonbearshark opened #21 "Food data"
Would be great to rope in the food inspection data! Map which restaurants receive subpar health reports. This info is on the WPRDC

[2017-01-23 14:16] vonbearshark commented on #3
Oh, and we'll want to filter the datasets themselves, and toggle which ones are visible.

[2017-01-23 14:25] vonbearshark opened #23 "Name and Logo"
So, what should we call this thing? We should get a name, logo, some colors, etc. to define this project

[2017-01-23 17:38] vonbearshark commented on #2
I'll create a new series of Issues for the pins themselves (the colors/icons, and the formatted hoverover descriptions), and the data mgmt can be tracked  in #17. I'll consider _this_ one closed from the most recent commit.

[2017-01-23 17:40] vonbearshark opened #24 "Pin aggregation"
Should aggregate a collection of pins in the same location into _one_ pin that, when clicked, shows the separate pins living there. Should have a little icon that shows the that there _are_ a number of pins living there. This will help clear up the UI.

[2017-01-23 17:43] vonbearshark opened #25 "Pin Logos"
We need to distinguish the pins based on the data coming in. We need to have at least separate icons/colors for the city 311 and police data, for now. But we also need icons for the campus police data, fire data, health and safety restaurant inspection data, etc.

[2017-01-23 17:45] vonbearshark opened #26 "Pin description style"
When we hover over the pins, or click on them, the description that pops up should be prett-ified. This will need coordination from the UI team and the Data team, back the contexts for each dataset is different.

[2017-01-23 17:51] vonbearshark opened #27 "Pitt Police Data and EMS alert data"
Right now, we don't have access to the Pitt police and/or EMS data digitally. So this isn't a technical Issue yet, but we need help going to meetings and convincing the campus police department to organize and digitize this information. Later, this might mean creating a tool that could help digitize this.

[2017-01-23 17:52] vonbearshark opened #28 "CMU Data?"
Our friends at the Students for Urban Data Systems at CMU are looking into collecting CMU data. When they give us leads we will need a way to aggregate and visualize this, the same we will do the city and Pitt data. But we still have the question of what data we _want_ to include about CMU?

[2017-01-23 17:54] vonbearshark opened #29 "Pitt Data?"
This is an open ended question, but does anyone know of any interesting University of Pittsburgh data API's that might be cool to hook into this project? Likewise, is there any data that may not be accessible right now that we could look into digitizing?

[2017-01-23 17:55] vonbearshark opened #30 "City Data"
This is an open ended question, but does anyone know of any interesting West penn Regional Data Center data APIs that might be cool to hook into this project? Likewise, is there any data that may not be accessible right now that we could look into digitizing? The WPRDC folks are really excited about getting new data.

[2017-01-23 17:58] mbilker commented on #17
Something like a 5-second delay then retry the request? I assume using exponential backoff would be a bad idea here.

[2017-01-23 18:01] vonbearshark commented on #17
I wonder if we should have the option to provide a callback in the global error management function  (#16), like

[2017-01-23 19:11] vonbearshark opened #31 "Data Error Global notitfication"
We need an error display for the data. Should pop up, but shouldn't kill the whole application. Hooks into our global alert system #16. So it needs that to proceed

[2017-01-23 19:16] vonbearshark opened #32 "New Data notification"
Should have a global notification that shows when new data has been created at the WPRDC. This should be a part of the global notification system (#16), so it needs that to proceed. Should also check in the WPRDC data grab function (#17 ) for the last updated information

[2017-01-23 19:24] #2 closed

[2017-01-23 19:27] RitwikGupta commented on #29
Ya boi github.com/RitwikGupta/PittAPI

[2017-01-23 19:28] RitwikGupta commented on #29
Ya boi https://github.com/RitwikGupta/PittAPI

[2017-01-23 19:50] vonbearshark commented on #29
Can we hit that from our JS? Or should we be using it as an example for how to make those calls, the data format, etc.? Either way, I think the laundry and computer lab would be dope. I'll create Issues for the UI and data around those two for sure

[2017-01-23 19:53] vonbearshark opened #33 "Laundry Data"
Pitt has an API for laundry--let's use it! Since this doesn't come from the WPRDC, this can be a one-off call for this data, but like the WPRDC data call function (#17). This won't display pins, so let's just focus on getting the data, and go from there

[2017-01-23 19:55] vonbearshark opened #34 "Laundry visual"
After we get the laundry data from #33 , we need some way to display this. It's not a pin, but maybe we have one pin that we can click on and it can open a large pop-up that has each machine and its status. Maybe we could have a separate tab for this visual? I'm open to suggestions here for sure.

[2017-01-23 20:00] vonbearshark opened #35 "Computer labs Data"
Pitt has an API for the computer labs status--we should use it! This is likely a one-off call for the Pitt data, and not a part of the WPRDC function call system (#17). Let's just get the call set up and go from there.

[2017-01-23 20:04] vonbearshark opened #36 "Computer Labs Visual"
Similar to the laundry API (#34), there is a n API for the computer labs on Pitt's campus. This isn't a pin, but maybe there is a pin that we click that opens up a pop-up modal that lists the status of the lab. Maybe instead there is a separate tab or page for this. I'm not sure, but I'm open to suggestions

[2017-01-23 20:05] vonbearshark commented on #3
This is a big Issue that I'd like to break up into smaller ones. So I'll close this out on your latest commit and start new ones

[2017-01-23 20:09] vonbearshark commented on #14
I think we should have the sidebar to the far left, because otherwise we have that weird visual sliver on the left side. If leaflet doesn't provide some way to move around the zoom in/out, we might have to re-implement our own in the sidebar itself.

[2017-01-23 20:09] #3 closed

[2017-01-23 20:11] vonbearshark opened #37 "Sidebar: filter data shown"
In our sidebar, we should be able to filter the data that shown. For example, for right now we would want to be able to filter out either the 311 data or the city police data (or both if we just want to show the map).

[2017-01-23 20:12] vonbearshark opened #38 "Sidebar: filter by date"
At least the WPRDC data has date information for sure. We should have some way to filter by date, even if it is just "today, last week, or last month". By default we show the last 30 days right now.

[2017-01-23 20:14] vonbearshark opened #39 "Header"
We ought to have a header spanning across the top, especially once we come up with a name and logo (#23). It should probably connect right to the sidebar. If we decide to have separate tabs as Burgh's Eye view does, we should have some way to switch that here. If we don't have tabs, we could probably just add our name and logo to the sidebar.

[2017-01-23 20:28] RitwikGupta commented on #29
I have a Flask web wrapper that used to serve endpoints for the API (https://github.com/RitwikGupta/PittAPIWebWrapper). George took it down from the CSC site but we can put it back up.

[2017-01-23 20:36] vonbearshark commented on #29
Why did we take it down? Wait, we have a server?

[2017-01-23 20:37] RitwikGupta commented on #29
Apparently we have a DigitalOcean droplet

[2017-01-23 20:38] RitwikGupta commented on #29
And we took it down because no one was using it at the time, but I think more people are just hosting it personally at the moment.

[2017-01-23 20:38] vonbearshark commented on #29
Good to know. We could hit that API, but that would be a call out to another call? Would it be too much to redo in JS?

[2017-01-23 20:39] RitwikGupta commented on #29
No, it's a call that does the scraping/intercepting/cleaning and returns results to you. No other intermediary calls. It's just exposing those Python library calls to the web.

[2017-01-23 20:40] RitwikGupta commented on #29
It might be too much. There's some web scraping mixed in with interpreting the data protocol that the 3rd-party contractors use.

[2017-01-23 20:45] vonbearshark commented on #29
That's interesting. I'm wondering if we should try and absorb your Pitt API project and host it as the club. Like, the club becomes an owner and part of this project could be for members to build the API/Flask services. Any new Pitt Data we could channel through that.

Either way we could kick out to the Pitt API (wherever it ends up being) one kind of function like we will  have for the WPRDC in

[2017-01-23 20:48] RitwikGupta commented on #29
I think that would be terrific. It's kind of what ScottyLabs at CMU does.

[2017-01-23 20:54] vonbearshark commented on #29
Are you an owner for the club, @RitwikGupta? Do you want to add the CSC as an owner for the API and the Flask wrapper? We should also probably deploy it on our DO droplet--do you have the creds for that?

[2017-01-23 21:33] RitwikGupta commented on #29
I don't have the DO creds. You'll have to ping George for that.

[2017-01-23 21:38] seifriedc commented on #14
Could we slide the sidebar over and change the z-index?

[2017-01-23 21:49] vonbearshark commented on #29
Looks like studentprojects.sis.pitt.edu works, but fwiw the auth for that is on the Drive

[2017-01-23 21:52] vonbearshark commented on #14
You mean overlay the zoom in/out over the sidebar? That would work, but it's messy. The bigger picture is that we want to be able to control where the zoom in/out goes.

[2017-01-23 23:28] seifriedc commented on #14
Yeah it does look messy. I figured out how to move the zoom control finally, any preference? I was thinking maybe top right or bottom left corner.

[2017-01-23 23:40] vonbearshark commented on #14
Awesome. Both work; make the executive decision, ha.

[2017-01-24 00:37] mbilker opened #40 "Zoom buttons are masked by UI element"
The UI `<div>` blocks Leaflet's Zoom buttons in the top left corner from working. They work when moving the `margin-left` from the sidebar element to the parent `div`.

[2017-01-24 01:32] #40 closed

[2017-01-24 01:48] brlodi opened #42 "Incorporate fetch() and Promises polyfills to support Safari/IE/others"
Our current use of fetch() is not supported by current versions of Safari (both desktop and mobile, although WebKit nightlies appear to have support), IE, Opera Mobile, old Android browsers, UC Browser (I've never heard of it but it has nonzero market share apparently), and some other niche browsers.

At the moment we just fail to display any map data in these browsers. I'm proposing incorporating

[2017-01-24 04:52] coltonb commented on #38
Hey! I tried implementing this [here](https://github.com/Pitt-CSC/club_project_2017/pull/43).

[2017-01-24 04:55] RitwikGupta commented on #38
Merged #43, this makes great progress!

[2017-01-24 13:45] vonbearshark commented on #42
Great idea. I'll assign you to this issue. I would prefer if we could keep it out of `main.js`. If there's not already a shim we could pull in in the HTML via CDN then we should create a new file for this. Thanks, @brlodi !

[2017-01-24 13:49] vonbearshark commented on #38
Awesome, @CJB124! Works really well. Would be nice to stylize it into the sidebar.

[2017-01-24 16:47] brlodi commented on #42
I've had partial success, I'll submit a PR in a moment. In testing I've found support for some of the targets (\*cough\* IE < 11, some mobile browsers) is blocked without refactoring to our own script because they don't or only partially support ES6 and break or misbehave on `const`, but that's a different bug that I'll leave up to @vonbearshark to make an issue for if he deems it necessary.

[2017-01-24 16:52] RitwikGupta opened #46 "Some markers display full JSON, others display just incident info"
Depending on the marker, some display full JSON while others are showing the parsed incident, such as "2709(a)(2) Harassment by Following Person in Public Place(s)"

[2017-01-24 16:55] vonbearshark commented on #42
Yeah this prompts a larger question: do we want to ignore es6+ completely and only implement legacy-supported JS, or do we want to add a build step for production? I think we should try and shim what we can for now, and add a build process later in the semester when we are thinking about deployment, people are accustomed to the repo flow, etc.

But `fetch` itself works now?

[2017-01-24 17:00] vonbearshark commented on #26
Right now both datasets we have (city 311 and police) are displaying different info (#46). We should have some UI to standardize this; maybe a key-value table. On the other hand, the keys from the dataset are really ugly... maybe we can hard-code map the keys we want to display to some user-friendly property name in the `record` before it's pushed to the array of `markers`.

[2017-01-24 17:02] vonbearshark commented on #46
It's for the two different datasets: 311 was stringified and police was just taking the incident itself. But, yeah we need to standardize this whole popup so that there's some kind of table for the fields and their values, even though the city 311 and police _will_ have different data

[2017-01-24 17:24] brlodi commented on #42
Should do in the browsers that aren't blocked. I submitted a PR #47

[2017-01-24 17:26] brlodi commented on #42
And I agree. Honestly the only code change I might make directly is to avoid using `const` if possible (or at least being conservative with it), since there's a decent amount of partial support that basically just treats it as `var` with no scope or write-protection.

[2017-01-24 17:31] vonbearshark commented on #42
Yeah if we can just shim some features and avoid others that might get us through just fine. I'm okay with saying to use `var` as a rule (despite how frustrating I know that will be) and adding shims for the Array functions like `.map` that we'll probably use, for example. Even still, I think we can readdress it later in the semester and convert what we need then when we have more working function

[2017-01-24 17:32] #42 closed

[2017-01-24 17:42] #38 closed

[2017-01-24 18:32] brlodi commented on #36
Is there any documentation for these APIs? What's the endpoint?

[2017-01-24 18:35] brlodi commented on #36
Oh is the plan scraping from <http://labinformation.cssd.pitt.edu>? (thanks @RitwikGupta)

[2017-01-24 18:36] vonbearshark commented on #36
This is something that

[2017-01-24 18:40] vonbearshark commented on #36
Woops. This is something that @RitwikGupta , @JohnLinahan, and I have been talking about lately. There's a lot of Pitt APIs that are not well maintained, or involve scraping, etc. Our plan is to have an additional project that is a Flask wrapper around a library that could organize all these calls. For now, the library is here: https://github.com/Pitt-CSC/PittAPI and the Flask Wrapper is here: htt

[2017-01-24 18:44] vonbearshark opened #49 "WPRDC data: restaurant inspections"
The WPRDC publishes restaurant inspection data, I think it's available here: https://data.wprdc.org/dataset/allegheny-county-restaurant-food-facility-inspection-violations/resource/1a1329e2-418c-4bd3-af2c-cc334e7559af. Would be great if we could plot pins for every Oakland restaurant listed and show what kind of violations it received

[2017-01-24 18:45] #49 closed

[2017-01-24 18:45] vonbearshark commented on #49
Duplicate with #21 ; my bad

[2017-01-24 18:46] vonbearshark commented on #21
I think this is the dataset they were talking about: https://data.wprdc.org/dataset/allegheny-county-restaurant-food-facility-inspection-violations/resource/1a1329e2-418c-4bd3-af2c-cc334e7559af

[2017-01-24 19:08] RitwikGupta commented on #29
Closing this since it's elaborated in separate issues.

[2017-01-24 19:08] #29 closed

[2017-01-24 19:08] #12 closed

[2017-01-24 19:17] coltonb commented on #46
Maybe we could generalize it to a "topic" property? In the 331 we have a "title" field I think could do nicely, and keep the current police pin popup.

[2017-01-24 19:18] RitwikGupta commented on #46
It would be nice to display more fields in the markers, not just the topic/title. Date and things seem important to show. Also, some things aren't being parsed properly so the whole JSON is being displayed.

[2017-01-24 20:10] vonbearshark commented on #46
++ I think there should be a title field that gets a special heading, but I think that we should display other fields, too. Some things are shared between 311 and police--i.e. they both have a date field, so that could be given a unique style like the title heading, but the rest could just be in a nice-looking key-value table.

@RitwikGupta again, right now we have two datasets uploaded by two dif

[2017-01-24 22:16] brlodi commented on #25
In the short term, thoughts on pin color? I'd color code as follows:

- **Police** – blue (if we want to differentiate campus vs. city could be blue/yellow and blue/white)
- **311** – yellow
- **Fire** – red
- **Health** – green

We should be able to do standard pins in straight CSS, unless people feel strongly about generating raster image assets for it?

[2017-01-24 22:23] vonbearshark commented on #25
Those work for me. Just need to make sure it matches up to whatever we use for #37. I think image icons would be a neat feature to have, but we can add them in later if someone gets the energy.

For posterity, here's how we'll implement the icons in the future: http://leafletjs.com/examples/custom-icons/.

[2017-01-24 22:24] vonbearshark commented on #37
We should have a legend that shows what colors/icons correspond to what kind of data. Should match up with #25. Should be able to toggle from this legend what datasets are shown.

[2017-01-24 22:25] brlodi commented on #25
So preferring `L.icon` to `L.divIcon`?

[2017-01-24 22:29] vonbearshark commented on #25
It might be simpler, but we can cross that bridge when we revisit it, too. Docs on `divIcon` for future: http://leafletjs.com/reference.html#divicon

[2017-01-25 00:32] #14 closed

[2017-01-25 01:47] RitwikGupta commented on #25
We should make sure these markers are color-blind friendly. So for people with red-blue color blindness one of the markers should have stripes or something.

[2017-01-25 01:49] nicoledaniels opened #51 "Footer Overlaps Map Copyright Text on Mobile"
On mobile (iPhone 7), the footer text overlaps with the copyright information on the Leaflet map

[2017-01-25 01:50] RitwikGupta opened #52 "(ML) Create a Python script to pull Oakland data to a flat text file"
Using the WPRDC API, make a Python 3.5 script to pull the data into a flat JSON file

[2017-01-25 01:53] RitwikGupta commented on #51
## For reference
![For reference](http://i.imgur.com/JjgydQE.jpg)

[2017-01-25 02:25] brlodi commented on #25
With regard to color-blindness support, my thinking was to have iconography associated with the pins in addition to color, at least as a long-term. Something like this, but not thrown together in 2 minutes (the 311 numerals don't work at small scale).
<img width="32" alt="artboard 1 2x" src="https://cloud.githubusercontent.com/assets/4230591/22275530/56c86d0a-e27b-11e6-943e-e3065134ffd1.png">
<img

[2017-01-25 02:33] vonbearshark commented on #25
Those would be dope for now

[2017-01-25 03:42] brlodi commented on #28
CMPD jurisdiction overlaps with Pitt PD, and they sometimes deal with Pitt students (fun fact CMU's alcohol amnesty policy applies to Pitt students as long as the calling party or the victim is a CMU affiliate) so if it's possible to get their incident reports with geotags it would be worthwhile including. I know they digitize the reports, but I don't know if they have any coded location informati

[2017-01-25 03:54] vonbearshark commented on #28
Huh, TIL. I'll have SUDS look into the CMPD data

[2017-01-25 03:56] brlodi commented on #25
@vonbearshark could you assign me to this issue? I'm working on at least some basic flat-ui icons.
Speaking of the icons, should I create a `map-pins` directory in the root or nest it within an `images` directory?
Also, the sources file for these icons is in Illustrator. It's not a huge file but it's definitely a binary file. Should I commit it?

[2017-01-25 04:07] vonbearshark commented on #25
For sure! Thanks, @brlodi! Let's nest it in an `assets` dir. I think we should keep them out of the git path for now. Maybe we can put the long-term assets' source files in version control, but I think we can get away without it now.

Edit: looks like I can't assign you--could you join the PittCSC org as a member?

[2017-01-25 04:21] brlodi commented on #25
@vonbearshark You'd need to invite me. There's no option for non-members to request membership

[2017-01-25 04:30] vonbearshark commented on #25
Of course there's not. That would be simple. Just sent you an inv

[2017-01-25 05:51] RitwikGupta commented on #52
Closed with 4bb902870bad008d5f54a6680e5af69392926c52

[2017-01-25 05:51] #52 closed

[2017-01-25 05:52] RitwikGupta opened #60 "(ML) Visualize features (311)"
Using `ml/data/data_311.json`, graph the data using any program of your choice. Find interesting fields and comment the visualizations in this issue.

[2017-01-25 05:55] RitwikGupta commented on #13
Closed with 91d9a6892c83fbb481d52a5a0d423e2aedbbe4be

[2017-01-25 05:59] RitwikGupta commented on #39
Closed with 6b051805c63860945bd44dba498da711a14b22dc

[2017-01-25 05:59] #39 closed

[2017-01-25 06:29] jfw20 commented on #51
Could the footer be moved bottom of the ui?  Just like stuck on the bottom of the box and resized?

[2017-01-25 07:03] jfw20 commented on #51
Pretty sure I can handle this.  Assign me if possible?

[2017-01-25 13:38] vonbearshark commented on #51
Just sent an inv to become an organization member, then I can

[2017-01-25 13:42] vonbearshark commented on #13
We still want to show only Oakland. We should limit the boundaries as well as the zooming out past default zoom. We should remove any unecessary map tiles that we might reference while we're at it. We'll handle the data being set outside the boundary in another issue #61.

[2017-01-25 13:45] vonbearshark opened #61 "Collect pins with no given location"
We should collect the pins that don't have a location given in datasets that do provide locations. By default they are set to something like 0,0, putting them somewhere in Ghana. In our WPRDC data collection function (#17), we should have a check for the lat and long data, and default the location to the cathedral of learning

[2017-01-25 14:49] vonbearshark opened #62 "WPRDC data: Code violations"
Just like the 311 and city police data, the WPRDC offers a dataset for code violations for establishments, available here: https://data.wprdc.org/dataset/pittsburgh-pli-violations-report/resource/4e5374be-1a88-47f7-afee-6a79317019b4. Like the city police and 311 data, we just want the results from the past month.

[2017-01-25 14:50] vonbearshark opened #63 "WPRDC: Arrest Data"
Just like the 311 and city police data, the WPRDC offers a dataset for arrest information, available here: https://data.wprdc.org/dataset/arrest-data. Like the city police and 311 data, we just want the results from the past month. We also want to be sure this doesn't overlap with the police blotter we have. It doesn't seem that it does.

[2017-01-25 14:54] vonbearshark opened #64 "WPRDC: Non-traffic violation data"
The WPRDC provides a dataset for non-traffic citations (NTCs, also known as "summary offenses") document low-level criminal offenses where a law enforcement officer or other authorized official issued a citation in lieu of arrest, available here: https://data.wprdc.org/dataset/non-traffic-citations. We need to pull this in just like the 311 and police data, getting the results from the past month.

[2017-01-25 14:55] vonbearshark commented on #17
We should have some kind of toggle-able SQL query that could use whatever the given dataset's date field and create a query to get only the results from the past month.

[2017-01-25 15:00] vonbearshark opened #65 "About page"
We should create an `about.html` page that contains copy to explain: the CS club, this project, and some features that this application offers, as well as where we want to go in the future. Something like Burgh's Eye View's About page: http://analytics.pittsburghpa.gov/BurghsEyeView.

[2017-01-25 15:17] nicoledaniels opened #66 "Sidebar Blocks Most of the Map"
On mobile (iPhone 7), the sidebar with the date information covers a majority of the map. The user is unable to click on pins that are under this sidebar.

### Possible solution:
Sidebar should be able to be expanded and contracted, and it's contracted by default on mobile.

![image uploaded from ios](https://cloud.githubusercontent.com/assets/5464799/22296193/62a0f446-e2e7-11e6-8c2f-fbdabfaff961.

[2017-01-25 15:29] vonbearshark opened #67 "WPRDC data: auto crash data analysis"
So the WPRDC does not provide live auto crash data afaik, but it _does_ provide historic auto crash data for the past 10 years. This seems like a perfect use case for ML. Maybe we could make a prediction for dangerous intersections or road areas that we can label on the map, then when we click on it, it can show all the accident history for that area. What do you think, @RitwikGupta? Data is here:

[2017-01-25 15:32] vonbearshark commented on #66
Yeah, I think for mobile the sidebar can either be expanded to take up the whole screen or completely contracted. It looks sloppy if there's a sliver of an unusable map on mobile

[2017-01-25 15:35] vonbearshark opened #68 "WPRDC: library data"
This should be super simple. The WPRDC gives information on Carnegie libraries. We only have one in Oakland, but it would be nice to map it with the hours and address (also provided). It's available here: https://data.wprdc.org/dataset/libraries. We can use the same icons as the WPRDC does in its example.

[2017-01-25 15:37] vonbearshark commented on #20
Here is some property assessment data, for example: https://data.wprdc.org/dataset/property-assessments, but that doesn't really give us anything useful

[2017-01-25 15:38] vonbearshark commented on #19
Here's a dataset for marked bake lanes: https://data.wprdc.org/dataset/on-road-bicycle-pavement-markings/resource/90fb26be-e754-4f45-b695-d17f0645dd2b. This might be able to be combined with our analysis of dangerous intersections #67

[2017-01-25 15:40] vonbearshark opened #69 "WPRDC: Air quality data"
Might be a little out of scope, but there's daily and hourly air quality data provided: https://data.wprdc.org/dataset/allegheny-county-air-quality. Might be an interesting display to include. Let's consider this low priority, through

[2017-01-25 15:41] vonbearshark opened #70 "Healthy Ride"
We have data on all the healthy ride stations (https://data.wprdc.org/dataset/healthyride-stations), including a live display of availability: https://data.wprdc.org/dataset/current-bike-availability-by-station. Might be interesting to include. Let's consider this low priority, though

[2017-01-25 16:23] pitchaim commented on #67
@vonbearshark Interested in assigning myself to this.

My idea would be to discretize crash/incident frequencies (maybe weighting each incident by severity) into danger tiers, and assign each intersection to a tier for labeling - anyone else have thoughts? @RitwikGupta? Could maybe separate auto and bike data, & toggle between them

[2017-01-25 16:25] brlodi commented on #13
I disagree with constraining to the default zoom. Zoom 12 just about contains all of Oakland on a desktop browser, but on mobile it becomes impossible to see the entire neighborhood (especially if the device is landscape) and I think it's important to be able to view the whole thing at once if the user wants.

Related to really limiting the bounds, because of how the bounding box works we're going

[2017-01-25 16:32] RitwikGupta commented on #67
I think this is cool! First step would be to analyze which fields are interesting first. Multiple fields could convey how dangerous an intersection is so analyzing all of them is very important first.

[2017-01-25 16:34] nehaabraham commented on #23
How about something to do with the falcons on the Cathedral, Dorothy and E2?

[2017-01-25 16:37] brlodi commented on #61
I agree with collecting the "unmapped" pins (i.e. ones with garbage location data) onto Cathy, probably with a faded icon or other indication that their map location is not accurate. I'm hesitant to do that to pins that are merely outside of Oakland but still in reasonable locations in Pittsburgh. Some of them are certainly miscoded in the WPRDC data, but others indicate cases where the crime occu

[2017-01-25 16:38] vonbearshark commented on #67
For reference, here's the dictionary for the fields, so you can decipher the data: https://data.wprdc.org/dataset/allegheny-county-crash-data/resource/12d9e6e1-3657-4cad-a430-119d34b1a5b2. I don't think it's limited to just intersections, so it might be nice to have a general area analysis for each accident with overlap, rather than just an intersection. I'd definitely like to see bike data specif

[2017-01-25 16:40] RitwikGupta commented on #67
@pitchaim For now, you can use `wget "https://data.wprdc.org/api/action/datastore_search?resource_id=2c13021f-74a9-4289-a1e5-fe0472c89881&limit=144921" -O data.json` to get all the data (takes some time). I'll push a Python script later in the day.

[2017-01-25 16:40] vonbearshark commented on #23
Yeah, it might be neat to tie that into the idea that this is a sort-of bird's eye view

[2017-01-25 16:41] RitwikGupta commented on #61
I don't think we should put them into Cathy, it would confuse a person not familiar with the details. I think we should just discard them since they don't really matter.

[2017-01-25 16:45] brlodi commented on #61
Do they really not matter, though? I'd rather report everything, even if some have (clearly marked) incorrect locations, than simply ignore a report because the location was incorrectly coded.

[2017-01-25 16:47] brlodi commented on #23
Pitt FalconEye \*cue James Bond theme\* (but jokes aside that's a good idea and this is a real suggestion)

[2017-01-25 16:50] nehaabraham commented on #23
How's PantherView?

[2017-01-25 16:52] pitchaim commented on #67
@vonbearshark @RitwikGupta Sounds good - I'll pull & comb through the data for now. Definitely going to run some analysis on topography and incident fields, and let that dictate what risk level categorizing/weighting and region separation will look like.

Also thinking it could be cool (at some point later) to pull time of day information and factor that into display, since rush hour peak times co

[2017-01-25 16:55] vonbearshark commented on #61
^ same. I think we might need to have something like a little pocket in the bottom left corner that could expand to show all the pins without data information.

As for pins that start outside of Oakland and manage to make it in--this really stretches the boundary of our map. We want to limit it the Oakland area: to pretend that's the only neighborhood that exists. My vote would be to either collec

[2017-01-25 17:01] RitwikGupta commented on #67
I made this quick graph
![traffic](http://i.imgur.com/AFbNC9w.jpg)

[2017-01-25 17:11] RitwikGupta commented on #67
I made a better graph, red line is mean, green lines are st. dev.
![traffic count](http://i.imgur.com/Z5w7FXA.jpg)

[2017-01-25 17:20] vonbearshark commented on #13
What if we limited default zoom, but we made sure the default zoom we set was different on mobile and Desktop, and could encompass those whole map of Oakland?

re: bounding box: if the bounding box was set _just_ around Oakland such that the default zoom saw everything, but was almost exactly aligned with the box, and we set `maxBoundsViscosity` to `1`, so you couldn't drag outside the area, and w

[2017-01-25 17:27] brlodi commented on #61
@vonbearshark I was thinking less edge cases and more a feathered border. For example, right now if someone was mugged at the bus stop outside Seoul Mart (at 5th and Neville, NE corner) we wouldn't be reporting it because that's technically Shadyside according to the data, but if they were mugged at the bus stop on the opposite corner (5th and Neville, SW corner) we *would* report it as an Oakland

[2017-01-25 17:34] dzheng256 commented on #60
![image](https://cloud.githubusercontent.com/assets/13357787/22301599/973eb6ea-e2f9-11e6-8eea-c7a1485dd6ea.png)
just made this graph, seems like almost all requests are from councils 3,6, and 8.

![image](https://cloud.githubusercontent.com/assets/13357787/22301949/e36dd7d4-e2fa-11e6-8686-1ac07024cd84.png)

Also created this one for neighborhoods.

[2017-01-25 17:35] vonbearshark commented on #61
Look, we just need to make it more illegal to mug people in those locations.

If we set a sort of padding around the Oakland neighborhood, wouldn't that fix the zoom problem and this problem? Also for this problem specifically, wouldn't we still report it, it just wouldn't be mapped (would be in our limbo tab thing proposed)? Or are you talking about how we get the Oakland data from the WPRDC serv

[2017-01-25 17:37] brlodi commented on #13
It *is* possible to zoom to contain certain bounds, and when generating a bounding box from a set of pins you can specify a padding value, so hypothetically would could dynamically size the zoom to fit. The one caveat is that we've somewhat crippled Leaflet's built in centering and bounds-keeping functions by overlaying the UI sidebar on the map, so we're going to have to remember to manually adju

[2017-01-25 17:38] vonbearshark commented on #60
Are these just the most populated areas^?

[2017-01-25 17:40] dzheng256 commented on #60
it's for everything in the data file, which is only oakland

[2017-01-25 17:40] brlodi commented on #61
It's more forward thinking for our plan to use GIS instead of relying on the NEIGHBORHOOD field, in that our GIS boundaries should be padded slightly. It doesn't matter in the meantime.

[2017-01-25 17:43] brlodi commented on #13
^ which is to say you've convinced me, but the exact implementation will take some work

[2017-01-25 17:43] RitwikGupta commented on #60
@dzheng256 I just noticed that the call made in the get_data_311 script limits to 100 rows only. You have to specify a large limit (like 999999) to make sure you get all the data.

[2017-01-25 17:46] dzheng256 commented on #60
ok, i'll check it out when i get a chance @RitwikGupta

[2017-01-25 17:50] vonbearshark commented on #61
I agree completely. Worth keeping in mind.

[2017-01-25 17:55] vonbearshark commented on #13
Yeah I didn't consider that if we disallow panning and contain the area, we might not be able to access some areas due to the UI. This is only a problem on Desktop, because we're making the mobile UI toggle to either take up the whole screen or be hidden completely. Actually, that should work for Desktop, too. So if we want to access some areas, we just hide the UI. Not the _best_ solution, but wh

[2017-01-25 18:24] ajfortuna97 commented on #65
I'll hop on this one! Uh... is there a way to assign myself to the issue? Also, is there any particular format you  want for this or should I just use the formats already present in the main.css file?

[2017-01-25 18:26] brlodi commented on #65
Ha. Ha. I'm sorry @vonbearshark (no there's not, unfortunately)

[2017-01-25 18:34] vonbearshark commented on #65
@ajfortuna97 if you accept my invite to be a member of the CSC GH organization and a collaborator on this project, I can assign you. (Check your inbox.) I wish there was an easier way, haha.

You have a lot of leeway with this. We have no style for this page, and I'm open to whatever direction you think is interesting in terms of style/content. It should have a menu bar at the top that can navigat

[2017-01-25 21:45] RitwikGupta commented on #67
![belted unbelted deaths](http://i.imgur.com/uLXcfWX.jpg)

[2017-01-25 23:18] ajfortuna97 commented on #65
Alright, I believe I grabbed the invitation for the group earlier today, @vonbearshark . Thanks for the note on the specifications.

[2017-01-25 23:22] vonbearshark commented on #65
Looks like you need to accept the invite to be a collaborator, too. Ha, sorry about that. Good to know, though.

[2017-01-25 23:54] #66 closed

[2017-01-26 00:00] dzheng256 commented on #60
made it 999999, new graphs. @RitwikGupta
![image](https://cloud.githubusercontent.com/assets/13357787/22314661/73378a24-e330-11e6-985e-cb82ab40cf32.png)

It's actually 4783 oakland records, so 999,999 is more than enough.

[2017-01-26 00:02] vonbearshark commented on #25
We should delete `assets` while we're at it

[2017-01-26 00:51] ajfortuna97 commented on #65
Ah, there we go. I must have just dismissed the collaborator one after the group one. Whoops.

[2017-01-26 01:44] RitwikGupta commented on #60
Nice! How about analysis of the types of complaints?

[2017-01-26 02:02] jfw20 commented on #51
Is there a preference on just resizing the footer, or relocating it altogether possibly on mobile? I attempted making it vary in size by changing text size of it to various sizes with vmin unit, but seems too inconsistent and incredibly tiny by the time it is no longer overlapping with the copyright.  I'm not sure if the leaflet copyright can be moved/resized at all since I assume it is placed the

[2017-01-26 02:05] chrisski44 commented on #68
@vonbearshark I'll pick this one up!

[2017-01-26 02:18] vonbearshark commented on #68
Thanks, @chrisski44 ! I just sent you an email invite to become a collaborator. If you accept, I can assign you to this issue.

Don't forget to add your name to our `contributors.md` file, too!

Let me know if you need any help at all. For this Issue, take a look at the calls already in the `main.js` that connect to the city and 311 data; the call you're making should be super similar.

[2017-01-26 02:31] dzheng256 commented on #60
195 unique complaints, trimmed it down to this by just choosing an arbitrary min of 30 complaints to make it on the plot
![image](https://cloud.githubusercontent.com/assets/13357787/22318064/94217f32-e345-11e6-8d8b-75f5d6c8c483.png)
might be able to group some stuff together. like there's "Graffiti, Removal" and "Graffiti, Documentation" and various traffic things etc that are all separate types o

[2017-01-26 02:33] vonbearshark commented on #51
We actually place the Leaflet copyright in `main.js` (https://github.com/Pitt-CSC/club_project_2017/blob/master/main.js#L29), so we can mess with it a little. Couldn't we stack them on mobile? Maybe give them both a CSS class we can mess with and stick one on top of the other?

[2017-01-26 02:35] vonbearshark commented on #60
Please make predictions for `Couch on Porch` so we can help the law enforcement stop these heinous atrocities

[2017-01-26 02:36] RitwikGupta commented on #60
@dzheng256 Generally when conveying discrete data counts, you should sort the data so we can see the ranks. Good work though!

[2017-01-26 02:47] dzheng256 commented on #60
good point

[2017-01-26 03:00] dzheng256 commented on #60
![image](https://cloud.githubusercontent.com/assets/13357787/22318561/9cd5dab6-e349-11e6-893b-52d1ecc7d22b.png)
also changed x axis scale and changed min to 20

[2017-01-26 03:24] seifriedc commented on #51
Could we put our footer in the sidebar on mobile? Like at the bottom?

[2017-01-26 03:26] vonbearshark commented on #51
^that could work for both mobile and desktop. It's starts contracted on mobile so it's not immediately visible, but .. meh.

[2017-01-26 03:34] brlodi commented on #25
Should be auto-removed once the files in `map-pins` are gone, no?

[2017-01-26 03:36] vonbearshark commented on #25
Yeah, that's what I mean

[2017-01-26 03:36] brlodi commented on #67
@RitwikGupta does the dataset include any information on what percentage of roadways have a given speed limit? It might be interesting to normalize that ^ with that basis.

[2017-01-26 03:40] brlodi commented on #24
Library options seem to be [Leaflet.markercluster](https://github.com/Leaflet/Leaflet.markercluster) and [PruneCluster](https://github.com/SINTEF-9012/PruneCluster). The former seems to be the de facto standard, but the latter seems to look and perform nicer.

[2017-01-26 03:52] vonbearshark commented on #24
TIL about PruneCluster. It does look and perform better. And they both need to be imported anyways so it's new overhead regardless. Seems like the best choice. I wonder if we could also prune for all untracked data/data outside Oakland, and set it in a pruned pin fixed on a position on the screen, maybe by dataset type..

[2017-01-26 03:54] vonbearshark commented on #17
@mbilker do you want to tackle this one? You have a good idea of where we want to go with this, and it's important we get this done early on. I'll try and get someone working on #16 for the error notification ASAP

[2017-01-26 03:56] vonbearshark commented on #16
@seifriedc do you want to tackle this? I think you  have a good idea of the UI pieces needed, and we need to get this done early on.

[2017-01-26 04:02] mbilker commented on #23
@nehaabraham I think that sounds a little too generic and not a name that really tells what the project is trying to convey.

[2017-01-26 04:03] brlodi opened #76 "Map copyright links not interactable"
Currently the Leaflet and OpenStreetMap links in the copyright notice don't work because the 100% width footer is covering them. Related to #51, but more important to resolve short-term.

[2017-01-26 04:35] chrisski44 commented on #68
@vonbearshark whats the best way to get the icons? I tried to save it off the website but it doesn't look very good.

[2017-01-26 04:39] brlodi commented on #68
Their Twitter profile picture is basically the same, if we want to just scale that down. https://pbs.twimg.com/profile_images/423885276012765185/Debf9xoF.jpeg

[2017-01-26 04:41] chrisski44 commented on #68
awesome thanks! I'll check out the dimensions of the other pins and scale it down

[2017-01-26 04:43] brlodi commented on #68
The map pins are all nominally 32x32 (and the retina versions are 64x64)

[2017-01-26 04:52] brlodi commented on #68
Also I might make a pin-shaped one as part of my divIcon work, so we can replace it then.

[2017-01-26 05:55] seifriedc commented on #16
Yeah sure! I might need some of your guidance though haha. What kinds of errors/messages will we have, like for data retrieval and that sort of stuff?

[2017-01-26 06:55] mbilker commented on #17
@vonbearshark I can work on this one. Something like a factory function that returns a promise sounds about right for this project.

[2017-01-26 06:55] mbilker commented on #17
@vonbearshark could you assign me to this issue?

EDIT: I got the collaboration request email earlier today, but I do not remember if I accepted the invitation properly.

[2017-01-26 15:02] vonbearshark commented on #68
Yeah, that was my next question: could this hook in with Fontello, @brlodi?

[2017-01-26 15:05] vonbearshark commented on #16
Yeah I actually have two separate Issues for the kinds of info we know we want to notify right now: #31, which is an error thrown when our data doesn't come back as we expected (error) and it should prompt the user to reload that dataset, and #32, which is a notification whenever a dataset is updated (so if you log in the day that the police dataset is updated, then we show a notification that tha

[2017-01-26 15:09] vonbearshark commented on #17
All good. Thanks, @mbilker! #16 is now claimed for global notifications, but the Issue for click-reloading on data error that you would want to use here is not. Would you like to claim that, too? (#31.) You'd have to wait until the global notification Issue is filled.  I'll try and get someone to do the pin popup general stylization #26 in the meantime, and we can hook that in as well.

[2017-01-26 15:11] vonbearshark commented on #76
@jfw20 , could you take a look at this, too? I can assign you. You should be able to do both in one commit.

[2017-01-26 15:16] vonbearshark commented on #68
Closed by #78, but we'll want to swap this out for an icon like we mentioned later. Also, I'd like to update the HTML when we have a proper style for the pop-up descriptions.

Thanks, @chrisski44!

[2017-01-26 15:16] #68 closed

[2017-01-26 15:18] vonbearshark commented on #37
@CJB124 : any chance you can apply your filter-data-with-ui magic here, too?

[2017-01-26 15:20] vonbearshark commented on #17
Also, in the process of making this function, could you make sure the datasets we have (including the library dataset call that was just created) include use it?

[2017-01-26 15:38] vonbearshark commented on #26
@chrisski44 , would you be interested in taking this issue? Essentially, I think you should create a function that takes an object that has the general form:
[code]

Then it creates an HTML string for this. For example, the `obj.title` should be inside a `<h4>` tag, I think, and I think you should create a `<table>` you should loop over all the `obj.fields` and add a two-column table mapping the `

[2017-01-26 15:39] vonbearshark commented on #26
This will fix #46, too.

[2017-01-26 16:20] brlodi commented on #68
@vonbearshark I can probably recreate the CLP logo as an SVG to stick in the font. At that size we might have to lose the coloration to keep it readable, though. I'll see what I can do.

[2017-01-26 16:25] chrisski44 commented on #26
@vonbearshark Yeah for sure I'll take this one on. I may have a few questions but I'll let you know!

[2017-01-26 16:43] vonbearshark commented on #26
I'll be happy to help. Thanks!

[2017-01-26 18:14] seifriedc commented on #16
Ah ok I see, I'll get on this then. Question: how are we doing error catching/handling? Looks like we are just writing to the console log right now.

[2017-01-26 18:18] vonbearshark commented on #16
Right, we'd ideally like to use this Issue with #31. Nothing in place rn

[2017-01-26 19:10] jfw20 commented on #76
Yea that's fine

[2017-01-26 19:34] vonbearshark commented on #23
I dunno, I really like PantherView.

What about something like The Oakland Dashboard?

[2017-01-26 21:14] mbilker opened #80 "ES6 String Interpolation"
For ES6 features, this project is using arrow functions, string interpolation, fetch requests, and promises. Promises and `fetch` requests were fixed by using polyfills, but what about browser support for the other features in use?

[2017-01-26 23:48] brlodi commented on #80
The main browsers at fault seem to be IE11 and Android. For reference: http://kangax.github.io/compat-table/es6/

[2017-01-27 01:07] vonbearshark commented on #80
Good question. Our stance here is not to worry about this for now. For clarity and development speed, implement everything how you'd like. We'll cross that bridge later with either shims or maybe with a compilation step for production.

[2017-01-27 02:42] RitwikGupta commented on #67
@brlodi Nope!

[2017-01-27 07:59] mbilker commented on #17
Yeah that is great. I pushed my first try at this and putting up a PR.

[2017-01-27 15:48] vonbearshark commented on #37
We'll have a PR coming in that will make it easy to list all the datasets with their corresponding pins

[2017-01-27 16:42] coltonb commented on #37
Sure, I can give it a try.

[2017-01-27 17:40] mbilker commented on #80
Thank you very much!

[2017-01-27 17:40] #80 closed

[2017-01-27 17:51] mbilker commented on #23
It's not really a dashboard. I like PantherView more than The Oakland Dashboard.

[2017-01-27 17:54] #17 closed

[2017-01-27 17:58] vonbearshark commented on #37
Thanks, @CJB124 ! We just pulled in the latest PR. Pull the changes to see the new system for getting the data. Should be able to loop over all the datasets and use their name and icon for the legend. Filtering might be trickier. What we could do is augment the `fetchWPRDCData` function so that each `record` is given `.datasetName` field that corresponds to the dataset. That way we can filter out

[2017-01-27 18:03] vonbearshark commented on #16
@seifriedc We just pulled in a PR that changes how we get the data. There's an empty function `displayNotification` right now that we use--could you work with that one?

[2017-01-27 18:13] vonbearshark commented on #61
Right now we run a light check for null at least and default to Cathy. We could check for out of bounds and null in the same place and do something with these pins (put in some kind of UI container, maybe a pin aggregation?) instead: https://github.com/Pitt-CSC/club_project_2017/blob/master/main.js#L215

[2017-01-27 18:15] vonbearshark commented on #46
The JSON garbage has been fixed, but we still need delineate the data we care about for the datasets we already have. #26 (closing with #79 ) should provide a mechanism for actually creating this HTML, but we'll need someone to manually find the fields we care about and give them labels for what we have so far. Each needs an appropriate title, too. Although I think the ones we have for that are fi

[2017-01-27 18:20] brlodi commented on #23
Yeah dashboard implies some sort of control or real-time monitoring interface, not merely a passive aggregation of data.

[2017-01-27 18:21] vonbearshark commented on #24
Don't want to stretch you thin, @brlodi , but any chance you could tackle this, too, since you're working with the pins and logos anyway?

[2017-01-27 18:22] vonbearshark commented on #61
@mbilker do you think you could tackle this one? Would fit right into that awesome function you whipped up

[2017-01-27 18:24] johnlinahan commented on #23
It does sound too generic, but I do like it the most at the same time.
I think we should have Pitt/Panther related word in the name if this is more for Pitt students than Oakland.

[2017-01-27 18:25] brlodi commented on #24
Yeah I can take a look. I found another seemingly more lightweight plugin that merely does the spiderification, so we might consider that too since I don't think the numbered clusters do as good of a job at indicating scale as a tight cluster of pins do (I'd be more in favor if we could tailor the boundaries to some sort of subdivision of Oakland instead of the automatically calculated ones the li

[2017-01-27 18:28] mbilker commented on #61
Right now my data call function branch just maps nulls or 0,0 coordinates to Cathy's location. Though, I only encountered 4 records with null locations.

[2017-01-27 18:41] vonbearshark commented on #61
Right, instead of mapping to Cathy, we'd want to have some kind of UI container (maybe a scollable box in the top-right corner?) for all the pins without a proper home. We also want to check if the pins fall within Oakland, and map the ones that don't to this as well (should be able to use our map bounding box for this somehow). Else we could add the pins to the map as normal.

[2017-01-27 18:42] vonbearshark commented on #24
What's the plugin?

[2017-01-27 18:58] seifriedc commented on #16
Yeah that works, I'll check it out today when I can

[2017-01-27 19:01] brlodi commented on #61
I think once they're removed from the map it makes less sense to have them be pins at all. Perhaps we could turn them into an accordion list or something instead? It would be pretty trivial to turn the divIcon pins into standard icons to associate with the text entries.

[2017-01-27 19:04] jfw20 commented on #51
![image](https://cloud.githubusercontent.com/assets/16720541/22383860/af9bf83c-e499-11e6-8c17-83f89e5d2c79.png)

This is what it looks like with what I changed currently, does that look good, or do you think text is too small when footer is within sidebar?

[2017-01-27 20:14] brandonp728 commented on #63
Hey, I'd like to give this issue a try!

[2017-01-27 20:35] vonbearshark commented on #61
Yeah I'm open to other representations via the UI

[2017-01-27 20:37] vonbearshark commented on #51
That looks perfect. What's it look like on mobile?

[2017-01-27 20:39] vonbearshark commented on #63
All yours, @brandonp728 ! Thanks! Let me know if you need any help at all

[2017-01-27 20:42] jfw20 commented on #51
Uh not sure best way to view fork changes on mobile?  I tried a git app but can't figure out a way to update it

[2017-01-27 20:43] vonbearshark commented on #51
No worries, why don't you submit a PR and I'll check it out

[2017-01-27 21:01] pitchaim commented on #67
Sorry I'm taking some time on this - class, work, and python version hell, you know how it goes...
Scipy is finally up and running; still going through incident fields for now.

Thought - once we establish some sort of classifier function mapping field values to danger tiers, we could look into relating that to other relevant, general data about streets/intersections that isn't accident-specific (

[2017-01-27 21:05] ghost commented on #64
Could I take this one @vonbearshark ? I'm relatively new to javascript, so it may not be perfect but I think I can do it.

[2017-01-27 21:11] vonbearshark commented on #64
I think you can, too @GavinFreud ! Let me know if you need any guidance at all. Make sure to pull the most recent changes first because we've updated how we're calling the data

[2017-01-27 21:19] #63 closed

[2017-01-27 21:20] vonbearshark commented on #62
@brandonp728 , do you want to take a crack at this one now? You did that other one so quickly

[2017-01-27 21:22] brandonp728 commented on #62
@vonbearshark yeah, I'd like to!

[2017-01-28 00:37] jfw20 commented on #51
Tested w/ chromes mobile view option and text is still constrained inside of sidebar and copyright for leaftlet/google is clickable.  Appears to work

[2017-01-28 01:31] #51 closed

[2017-01-28 01:32] jfw20 commented on #76
This should also be closed now, #51 fix also fixed this, should have added that in commit, my bad.

[2017-01-28 01:33] vonbearshark commented on #76
Yeah, I added this to the merge message, but it didn't close this. I must not have used the right syntax. Thanks again, @jfw20!

[2017-01-28 01:33] #76 closed

[2017-01-28 01:43] #62 closed

[2017-01-28 01:55] vonbearshark commented on #23
Alright, PantherView it is! Thanks @nehaabraham !

[2017-01-28 01:55] #23 closed

[2017-01-28 01:56] mbilker commented on #23
Nice!

[2017-01-28 01:58] vonbearshark opened #88 "Re-styled Header"
We should stylize the header to make it a little more attractive. Also, we should reference our new name: PantherView! If we can stylize the date filter selector in the UI, too, we should. Something like this: http://www.w3schools.com/bootstrap/tryit.asp?filename=trybs_button_group_justified&stacked=h, but white on blue. This all means selecting colors and fonts that we should use throughout the w

[2017-01-28 02:01] vonbearshark commented on #88
Just update the `title` tag in HTML, too, with the new name

[2017-01-28 02:05] vonbearshark commented on #13
Also, I think we should zoom in at least once more by default, although we can allow for the zoom level that encompasses Oakland (but no more). We just have a lot of pins now, and it looks a lot better zoomed in

[2017-01-28 02:08] nehaabraham commented on #88
I'd like to take this on, not sure how to assign myself to it.

[2017-01-28 02:10] vonbearshark commented on #88
Just sent you an invitation to be a collaborator--if you accept I can assign you!

[2017-01-28 02:11] vonbearshark commented on #88
Also, @alexandrabush is working on a logo. It would be great to include that in the header, too, when she finishes it (no rush)

[2017-01-28 02:13] nehaabraham commented on #88
@alexandrabush did a lovely job with the WiCS logo, she'll be great for this :)

[2017-01-28 02:13] vonbearshark commented on #21
@chrisski44 want to take on this one, too? You already did most of the rest we had in mind, haha

[2017-01-28 02:17] vonbearshark opened #90 "University of Pittsburgh Police Data"
This is still a little up in the air, but we'd love to have the data from the Pitt police. They publish a crime and fire log every day, but that's in a PDF form. When I inquired, a representative sent me this link: https://portal.arms.com/. It seems to have _some_ kind of API, but it's unclear how up-to-date it is.. or even how to use it. I'm meeting with the Pitt Police over the next couple of we

[2017-01-28 02:20] vonbearshark commented on #30
I think we've taken as much from the WPRDC as we can

[2017-01-28 02:20] #30 closed

[2017-01-28 03:48] jfw20 commented on #70
I'm interested in doing this.

[2017-01-28 03:52] vonbearshark commented on #70
Sure thing. This one is a bit weird because that second source is actually _live_ data. We haven't handled that yet. We also don't have a standard way to display that kind of data--the pin description might not be update-able, for example. As you get into it, we can run through some ideas as to how to handle it on here. For now, we can just plot the healthyride stations in the Oakland area.

[2017-01-28 04:05] vonbearshark commented on #70
Maybe @saylorsd has a suggestion on how to work with this data

[2017-01-28 05:14] saylorsd commented on #70
After taking a bit of a look at the data, I think the best bet would be just to work with [current availabilty data](https://data.wprdc.org/dataset/current-bike-availability-by-station), since it will always be up to date, and it will always be at the same location.  The [HealthyRide stations dataset](https://data.wprdc.org/dataset/healthyride-stations) will go stale each quarter when they publish

[2017-01-28 05:47] jfw20 commented on #70
could you check out my main.js in my fork of project?  Seems dataset loads alright, but points aren't plotting and I can't figure out why exactly.

[2017-01-28 06:18] saylorsd commented on #70
@jfw20 It looks like you're using the data dictionary's resource ID for the healthy rides stuff.  Now that I see how everything else is set up, I see that my previous solution is a bit more tricky.  The actually data for that dataset is a XML feed which is completely different from all of the other datasets you guys are using so far. It won't work by adding it in like the ones that are currently t

[2017-01-28 16:16] vonbearshark commented on #70
We don't want you to have to make a new dataset aggregations. Plus, we have another live XML dataset we'd like to do. So @jfw20, I think you should write a function similar to the `fetchWPRDCdata` function we have for the other kind of calls. Like `fetchWPRDCXML`. Would something like this work, do you think:http://stackoverflow.com/questions/8237923/parsing-xml-rss-from-url-using-java-script?

[2017-01-28 18:31] #88 closed

[2017-01-28 23:36] vonbearshark commented on #70
We'll also want to add a visual unique to this dataset that shows the bike availability. After you get the data, we can merge that PR before we add the HTML/CSS popup

[2017-01-28 23:39] jfw20 commented on #70
Alright, I'll take a look at writing a fetchWPRDCXML function as soon as  I can.

[2017-01-29 02:20] seifriedc commented on #16
Ok so I got the boxes and javascript to work I think, but I'm not sure how to get the box to close. Do we just want an X in the corner of each notification box, or do we want to be able to just click/tap inside the box to close it? I think the latter will require jQuery but I'm not sure

[2017-01-29 02:39] vonbearshark commented on #16
I think the x in the top right would be perfect

[2017-01-29 16:07] vonbearshark commented on #31
In our `fetchWPRDCData` function, we want to throw and error if we don't get a 200 response and catch all errors from the `fetch` promise. That catch should absorb the _true_ error, though, and just display that the dataset name could not be loaded. It should also have an icon button to click to try and reload that data (which can call a one-off `fetchWPRDCData` function, just like it was original

[2017-01-29 16:19] vonbearshark opened #95 "WPRDC SQL: Date range"
Right now we have a number of datasets (at least the 311 data) that sorts the WPRDC dataset by date and gets the most recent N-number of results. This is not the same as getting all the results from this month--N could be more than this month, or it could be less. Right now we filter out the dates on the client side, but that means that we're either getting too much data from the server (which is

[2017-01-29 16:21] vonbearshark commented on #21
@brandonp728  want to take on this one, too? You already did most of the rest we had in mind, haha

[2017-01-29 16:23] vonbearshark commented on #95
@cey10 I noticed you're interested in being a collaborator, but you haven't picked up an Issue yet--would you be interested in taking this one? If you need any help, we can work on it together.

[2017-01-29 16:23] #28 closed

[2017-01-29 16:30] cey10 commented on #95
@vonbearshark I would.  I'll look at it and let you know if I have any questions, thanks!

[2017-01-29 16:51] #37 closed

[2017-01-29 17:00] vonbearshark commented on #18
@coltonb What do you think about this one? I'm beginning to think this this should be it's own `data.html` page, but on the other hand it would be great if we didn't lose all the data we already loaded into the browser. One idea would be to add all the HTML for the Data tab in the same HTML as the map, but to have Map and Data Tabs (http://www.w3schools.com/bootstrap/bootstrap_tabs_pills.asp) in t

[2017-01-29 17:07] vonbearshark commented on #61
@mbilker I'm walking back on having the null coordinates in the separate array. We're setting up a Data tab that will display text representations of all the data, and it's so much simpler to have one array. What if we just gave it a `.isMapped` property, so we can use it for conditionals when filtering, etc.? What do you think? Does that set you back?

[2017-01-29 17:40] kaidawkins opened #96 "lunch rush livestream"
this feature could possibly be out of scope for this semester, but the idea is to add a feature to the map that'll somehow show a user how busy a specific on-campus/off-campus restaurant is. it would eliminate the problem of bouncing around from one eatery to another trying to find a place where you can get lunch in a decent amount of time. we would need to somehow gain access to data from interes

[2017-01-29 18:29] vonbearshark commented on #96
This is a great idea. I emailed NoWait to see if we could get access to some of its data, but I'm not hopeful. Might need to do another route.

[2017-01-29 18:43] SPN11 commented on #35
@vonbearshark I'd be interested in taking this. As for the API, where can I find it? I saw @RitwikGupta wrote a PittAPI a while back, but this'll be part of main.js right? And in terms of user interaction, would the labs appear on the map as pins and if you click on them they'll appear with information? Or will there be a small section on the sidebar that has the different computing labs and their

[2017-01-29 18:56] vonbearshark commented on #35
All good questions. Here's the situation: we will be using that PittAPI you mentioned. The club has absorbed the responsibilities of maintaining and extending Ritwik's API (found here: https://github.com/Pitt-CSC/PittAPI). Our plan is to get a server on the CS Dept's network and host the API as a Flask application, using this wrapper repo(that the club now also maintains): https://github.com/Pitt-

[2017-01-29 19:02] RitwikGupta opened #97 ""Today" tab is useless"
Since the data is delayed by a day, nothing would should up for "today" anyways. It would be better to have it be "yesterday" or "past 24 hours"

[2017-01-29 19:02] vonbearshark commented on #97
@coltonb , do you mind taking a look at this?

[2017-01-29 19:04] vonbearshark commented on #35
If you can even just get the data flow for now, we have a separate Issue open for the UI representation #36 . So you can move on to that after this, or tackle something else.

[2017-01-29 19:07] vonbearshark commented on #36
Not only a popup, but when we create the Data Tab (#18), we'll need to find some way to display this information in the table results. And the larger question is: how do we want to handle this kind of data in that data tab? I'm wonder if we have a search bar to search through the pin-based data, but this kind of data without a date (like the library, healthy ride, laundry data, etc.) could each ge

[2017-01-29 19:12] SPN11 commented on #35
Ok thanks so much! I'll study `fetchWPRDCData`, and I'm new to Flask and fairly new to Javascript but I'll do my best. I'll also talk to @RitwikGupta for how to go about hosting it locally and how to use his API. I was also thinking the pins would be most appropriate, but that'll be for #36

[2017-01-29 20:07] #97 closed

[2017-01-29 20:16] RitwikGupta commented on #67
@pitchaim Exactly, but the important part is to first identify useful features.

[2017-01-29 23:14] nicoledaniels opened #99 "Center the map on the user's location"
Center the Leaflet map on the user's location if provided. The zoom should increase if the user's location is provided. If the location is not provided or geolocation services fails, set the center of the map to Cathy's coordinates.

[2017-01-30 00:09] vonbearshark commented on #99
PR did not address some bugs, so I reverted.

There seems to be this weird bug on Firefox that if a user selects "Not Now", the error function is never called: https://bugzilla.mozilla.org/show_bug.cgi?id=675533.

Likewise, Chrome only supports geolocation through https, which we don't have on our custom domain (which is also a GH Pages site) right now: https://developers.google.com/web/updates/20

[2017-01-30 00:33] brandonp728 commented on #21
@vonbearshark absolutely!

[2017-01-30 16:04] mbilker commented on #61
That is perfectly fine.

On Sun, Jan 29, 2017 at 12:07 PM, JJ Naughton <notifications@github.com>
wrote:

[2017-01-30 18:46] RitwikGupta commented on #96
Yelp bought NoWait, so there's no chance of getting that data

[2017-01-30 18:48] RitwikGupta commented on #90
The map displays no data for `PA - University of Pittsburgh`

[2017-01-30 19:32] vonbearshark commented on #90
Weird, because some data definitely showed up for me last week

[2017-01-30 19:33] vonbearshark commented on #96
Sad face. We could have a check-in system from our app, but that's a lot to support on our end. Maybe we could start with Pitt food places, like market, first--do you think we can get live swipe data?

[2017-01-30 20:31] SPN11 commented on #35
@vonbearshark @RitwikGupta I've adapted to the Fetch API and now I'm getting nicely-structured JSON responses for each computing lab.

[2017-01-30 20:36] vonbearshark commented on #35
We still want this to be a marker, so we'll need to find a way to create a pin like we do with the others. The label should be a computer icon. The hardest part will probably be mapping the computer labs to lat and long locations. We'll have to hard-code the names of the labs to their locations (which you'll have to look up). You don't have to worry about the pin popup, we'll handle that in #36. L

[2017-01-30 20:39] SPN11 commented on #35
Oh yeah of course! I assumed we would have to hard-code the lat and long coords. All of that would be related to #36 though, right? Do we have a computer icon yet?

[2017-01-30 20:42] RitwikGupta commented on #35
Specifically the locations are:

[code]

[2017-01-30 20:45] SPN11 commented on #35
I've got data for each of those labs. I can look them up on a map now.

[2017-01-30 20:55] vonbearshark commented on #35
@SPN11 We should at least add the pin and icon to the map in this one because that involves mapping the name of the lab with a hard-coded lat long location, and that's still data processing, I think. All of our icons come from fontawesome right now, so this one works: http://fontawesome.io/icon/desktop/. Take a look at how we create the icons with the WPRDC data:
- Icon data stuff: https://github.

[2017-01-30 21:03] SPN11 commented on #35
For my own reference:
**Alumni**
Lat: 40.445763°
Long: -79.953834°

**Benedum**
Lat: 40.443844°
Long: -79.958475°

**Cath_G26**
Lat: 40.444209°
Long: -79.95309°

**Cath_G27**
Lat: 40.444326°
Long: -79.953286°

**Lawrence**
Lat: 40.442277°
Long: -79.955023°

**Hillman**
Lat: 40.442787°
Long: -79.953942°

**Sutherland**
Lat: 40.445953°
Long: -79.962444°

And ok! I'll take a look at those references.

[2017-01-30 21:05] vonbearshark commented on #35
Might have to move Cathy_G26 and G27 off by one or something because they're the exact same. Moving one or two should keep it within Cathy but slightly removed when you zoom way in

[2017-01-30 21:06] SPN11 commented on #35
True. I'll tweak the values a bit.

[2017-01-30 21:10] SPN11 commented on #35
Should I put computer labs under the same dataset as the others (WPRDC_DATA_SOURCES) or should I make a separate one for Pitt-related sources?

[2017-01-30 21:12] vonbearshark commented on #35
Good question. I think you could even have a separate one just for the Pitt computer labs, and we'll create another for the Pitt laundry, etc, because again these Pitt API calls are pretty unique and not as standardized. Each one is a different kind of data

[2017-01-30 21:13] SPN11 commented on #35
All good thoughts. I'll make a totally separate one for Pitt labs then.

[2017-01-30 21:55] brlodi commented on #99
^ That Bugzilla thread is a... well, several cursewords. I'm personally of the mind to say screw it for a bug that just got fixed for future release after *5.5 years* of explicitly refusing to implement part of a specification because the devs think Firefox is above it. That's the sort of crap that made me stop using Mozilla software.

[2017-01-30 22:53] vonbearshark commented on #99
Yeah I'm totally cool with a Mozilla conditional that drops the prompt and uses Cathy for now.

[2017-01-31 03:04] ghost commented on #64
@vonbearshark should I make a new icon for this?

[2017-01-31 03:06] vonbearshark commented on #64
Yeah take a look how we implement the others, as well as Font Awesome: http://fontawesome.io/icons/, you can pick one of those and a color, essentially

[2017-01-31 03:26] Rahi374 commented on #21
Could we add data for what food Market has for the day?
Or would we run into an issue with CORS?
Or is this not considered food data.

[2017-01-31 03:30] vonbearshark commented on #21
@Rahi374 We definitely could try--does Market have an API we could hit? I don't know if there's a digitized endpoint for that. If there is we should create a new Issue for that!

[2017-01-31 14:06] Rahi374 commented on #21
@vonbearshark There's no API but there's an HTML page from Panther Central that we could try to GET and process and spit out JSON. In my knowledge that would require a server. Is that not feasible?

[2017-01-31 14:10] vonbearshark commented on #21
We could do that. That is actually very _possible_ to do on the client, but it's something we were already considering for the PittAPI library and the server wrapper we're making for that: https://github.com/Pitt-CSC/PittAPI (wrapper: https://github.com/Pitt-CSC/PittAPIWebWrapper). @RitwikGupta : what do you think? Do you want to open an Issue for this in the PittAPI lib/wrapper? @Rahi374 are you

[2017-01-31 14:15] Rahi374 commented on #21
@vonbearshark Unfortunately I don't do Python. I have done what I described in Ruby though: https://github.com/Rahi374/jreast-train-info

[2017-01-31 14:19] vonbearshark commented on #21
I think you will find Python to be very similar to Ruby; I think you should give it a shot!

[2017-01-31 14:27] Rahi374 commented on #21
I think I'll give it a shot!

[2017-01-31 15:31] nicoledaniels commented on #99
Still working on getting the SSL certs for Google Chrome, but should be coming soon which will fix the problem

[2017-01-31 16:13] RitwikGupta commented on #21
Please check the relevant issue at the PittAPI page: https://github.com/Pitt-CSC/PittAPI/issues/11. There are details on where to start hooking into Pitt dining hours data.

[2017-01-31 16:34] brlodi commented on #96
@RitwikGupta they didn't buy NoWait (that I can see), but I doubt the integration agreement is in our favor. (That scared me; I use NoWait all the time but I refuse to use Yelp on principle)

[2017-01-31 16:36] RitwikGupta commented on #96
I believe it's a "partnership", but many of the NoWait execs left when this partnership happened because of what's rumored to be a disagreement over the way the partnership was basically structured as a takeover.

[2017-01-31 16:40] brlodi commented on #96
Well at least I continue to feel justified in hating Yelp. I was a host at one of NoWait's pilot restaurants so I helped (from the user side) get the restaurant-facing app in order. I think I was the only technical user they had at the time because I answered a lot of UX questions.

[2017-01-31 16:50] kaidawkins commented on #96
yeah i was def thinking it would be easier to gather data from on campus places first before we got data from the surrounding restaurants!

[2017-01-31 16:52] vonbearshark commented on #96
Does anyone know if there's a live swipes feed or anything with Market?

[2017-01-31 16:54] vonbearshark opened #106 "(ML) Visualize features (City Police)"
First, we need to create a data aggregation file similar to `ml/data/data_311.json` for the city police data. Then, graph the data using any program of your choice. Find interesting fields and comment the visualizations. @RitwikGupta can help you as you go. Here's the police blotter archive: https://data.wprdc.org/dataset/uniform-crime-reporting-data. Should be similar to #60

[2017-01-31 16:58] kaidawkins commented on #96
have y'all seen this? https://github.com/Pitt-CSC/PittAPI/issues/11 i assume you have it was on the slack, it's a major help

[2017-01-31 17:04] vonbearshark commented on #96
Yeah that's neat, but that's only the hours

[2017-01-31 17:06] kaidawkins commented on #96
that could be a start tho

[2017-01-31 17:08] RitwikGupta commented on #96
Market swipes are tracked by Blackboard, we don't have any access to that, it's a closed system

[2017-01-31 17:09] vonbearshark commented on #96
In that we could _never_ have access? Or if we bug them enough they might let us?

[2017-01-31 17:09] kaidawkins commented on #96
damn they won't give us _access at all_?

[2017-01-31 17:12] dzheng256 commented on #106
made a get_police_data.py that is literally get_311_data.py with the resource id changed. also made the data_police.json. should I PR that? not sure if it's necessary to have two .py files when the only difference is one line

[2017-01-31 17:14] RitwikGupta commented on #96
Pitt hates giving data out. In this case, you'd usually file a FOIA/RTK, but Pitt is waived from any FOIA/RTK requests by the fact that they're a state-related school. I've filed one myself and you get a nice letter from a lawyer.

[2017-01-31 17:14] vonbearshark commented on #106
Yeah they're similar, but the distinction in what datasets are accessed is important. Should be two lines, because you want to write the the data to a different file, too, no?

[2017-01-31 17:14] RitwikGupta commented on #96
This is the reason why the PittAPI is so hacky and backdoor-y

[2017-01-31 17:14] dzheng256 commented on #106
right, it was two lines

[2017-01-31 17:21] vonbearshark commented on #21
@Rahi374 I sent you an invite to be a collaborator on that repo, if you accept I can assign you to that Issue. We have another member interested in helping, too

[2017-01-31 17:36] #16 closed

[2017-01-31 17:37] vonbearshark commented on #31
Hey @seifriedc , do you think you can tackle this one next? This hooks right into the global notification you just made

[2017-01-31 17:45] dzheng256 commented on #106
heres some stuff, there's some other cool fields ill add graphs for
![image](https://cloud.githubusercontent.com/assets/13357787/22477191/280b5fee-e7b3-11e6-8d2c-5fcc34504f10.png)

[2017-01-31 17:56] dzheng256 commented on #106
@vonbearshark I used the resource id for police data in main.js.. Looking at timestamps, I think that's data from the past 30 days. Fixed and made a new PR.. dataset is significantly larger now lol

[2017-01-31 18:00] vonbearshark commented on #106
Yeah there's a lot more requests than that, haha. I have the link to the WPRDC resource at the top of the Issue, but here's the id: `391942e2-25ef-43e4-8263-f8519fa8aada`

[2017-01-31 18:03] dzheng256 commented on #106
@vonbearshark For my PR I actually used `044f2016-1dfd-4ab0-bc1e-065da05fca2e` instead of that id, because it is for "UCR Coded" data, so that means it has already been processed and validated to meet Uniform Crime Reporting standards. I think the timestamps of UCR coded data go beyond the 2005-2015 range of the other dataset. Looks like it's 2005-2017 plus four random ones from 1989, 2002, 2003,

[2017-01-31 18:11] dzheng256 commented on #106
![image](https://cloud.githubusercontent.com/assets/13357787/22478145/bfbe2058-e7b6-11e6-85c4-f5e32894ca8b.png)
probably should plot average #requests by dividing by populations in those areas

[2017-01-31 18:21] vonbearshark commented on #106
^I think that would be a good idea. I bet the WPRDC has some census data. It would be really accurate if it was corresponding to both the area and the population at that year in the census, but that's completely unnecessary, I think

[2017-01-31 18:33] dzheng256 commented on #106
@vonbearshark If I had population for every year I could figure out average number of requests per capita over time, but not sure where to find that. Also not sure if we really need that. Assuming all the populations have remained proportional to each other over time, I could just assume the populations have remained the same and calculate requests per capita use census data from one year.. @Ritwi

[2017-01-31 18:38] seifriedc commented on #31
Yep I was actually just looking at this issue, you can assign me

[2017-01-31 18:44] Rahi374 commented on #21
@RitwikGupta @vonbearshark Got it.
What's the difference between PittAPI and PittAPIWebWrapper?

[2017-01-31 19:02] vonbearshark commented on #21
The PittAPI is a library for handling all the actual Pitt data, agnostic to the platform. The WebWrapper creates a website server so that when you make a request to an endpoint, we use the PittAPI to get the actual data

[2017-01-31 19:16] rgradeck commented on #106
Look here for Neighborhood data. https://data.wprdc.org/dataset/pgh

Keep in mind that the 2010 is the latest reliable data you'll have at small geographic areas. Also important to note that daytime population can be very different from resident population. Crime rates for areas with lots of visitors and a much smaller number of residents (Oakland, Downtown, South Side Flats, etc) will look high e

[2017-01-31 19:31] vonbearshark commented on #31
Hey @seifriedc, @mbilker just subbed a PR that took care of some of this for you. Take a look at the most recent changes. In addition to what @mbilker has, we want to show _which_ datasource fails, and provide the function that adds a button to retry fetching the dataset. Also I think the notification type param might be off.

[2017-01-31 20:04] dzheng256 commented on #106
@rgradeck Thanks! Some really good points.

[2017-01-31 20:14] mbilker commented on #31
Oh sorry. I forgot about his issue. I just published my take on where stuff should go.

[2017-01-31 20:16] mbilker commented on #61
I am not familiar with how I should put the box in the top right. Should I just make a separate `div` and use CSS to position it up there. Should I put the list below the filter list in a separate scrollable table?

[2017-01-31 20:21] vonbearshark commented on #61
I think the former would be best. We can change it later, but I think that makes the most sense.

Another thought: the same way we have `.popup` maybe we should have `.table`, or something. We will need it for when we have a tab that just displays text results (#18), and we could probably have it visualised the same way here, too. The style would need to accommodate both, but I think that shouldn'

[2017-01-31 20:31] mbilker commented on #61
Ok. I will work on this later. Currently trying to finish an English essay.

[2017-02-01 00:44] brlodi opened #112 "ENS Notification Banner"
Not that this thought was triggered by anything in particular (boil your water people! *Really*. The PA DEP doesn't issue boil water advisories unless they really mean it), but it might be cool to have recent Emergency Notification System messages displayed banner-style at the top of the map. They're a very different kind of data from our mapped stuff, but arguably more important.

We'd just have

[2017-02-01 02:57] vonbearshark commented on #112
Yeah similar idea here: #27 . I think this is a great feature idea to at least look in to

[2017-02-01 04:04] Rahi374 commented on #21
@vonbearshark Okay I think I got it.
Thanks!

[2017-02-01 14:36] seifriedc commented on #31
Do we want to display something if we don't get a good response, if we can't make a record, or both?

[2017-02-01 14:46] vonbearshark commented on #31
Both, I think. If we don't get a good response, the error should be "Could not retrieve [datasourcename]", and if we can't format every record, the error should be "Problem formatting [datasourcename]", or something, I think.

[2017-02-01 14:48] seifriedc commented on #31
Ok sounds good. Now I'm having a problem where if we don't get a good response, both error boxes come up. Is that how we want it?

[2017-02-01 14:52] vonbearshark commented on #31
Ha, uh, I don't think so. I'm not sure how we have it now, but the response check should actually _throw_ an error, rather than return it. That should trigger the _catch_. Likewise, I think the way we have it, if the status is good we return `response` rather than `response.json()` (and have `response.json()` in another `.then`). I think we can compact that into the `else` statement in the first `

[2017-02-01 16:13] seifriedc commented on #31
Ohhh my bad okay that makes sense. So I have it throwing and catching correctly I think. I'm a little confused on the `response.json()` bit though. We want to put `.then((response) => response.json())` into the `else` above it? Right now I have this:
[code]
but I'm not sure if I'm doing it right.

[2017-02-01 16:18] vonbearshark commented on #31
That's close. It should be something like:
[code]

[2017-02-01 16:36] seifriedc commented on #31
Ok cool yeah that's what I thought you meant at first. Also (sorry to keep bothering you) when we catch an error, it seems to kill the filters in the sidebar. Should we separate the filter display code and filter/record logic?

[2017-02-01 16:48] vonbearshark commented on #31
No worries, this should be a back-and-forth process for sure.

Yeah that's going to be a little messy. My thinking is that if we get the data as JSON and it _has_ an array of records, we can probably defer to the `processRecord` of each record to catch and (probably silently) handle their own errors. I know it's probably not a robust way to handle it, but we don't want to throw an Error when the r

[2017-02-01 16:57] vonbearshark commented on #46
@GavinFreud, interested in taking this one? It's going to be a big one, so you might want to start thinking about it now, although we're still waiting on #79 .

One more thing: the pins need to have their relevant information displayed in a friendly format _both_ as a pin popup _and_ as a table (for both #61 and #18 ). If you have to alter the function that generates the HTML to make it easy to ac

[2017-02-01 16:59] ghost commented on #46
@vonbearshark sounds fun! Sure i'd love to give it a go!

[2017-02-01 17:05] vonbearshark commented on #61
Update: We will have a `.table`, which you should utilize like `.popup`, but @GavinFreud will work out the actual implementation of converting the relevant fields to a table in HTML in #46 . You'll just need to provide a mechanism for adding this generated HTML into the non-mapped UI table (for now, just generate some easy HTML yourself)

[2017-02-01 18:04] seifriedc commented on #31
So I'm checking if `records == null`, and if it that is true then we throw the error and no filters show up in the sidebar :/

[2017-02-01 18:12] vonbearshark commented on #31
The thrown Error must not be getting caught by the `.catch`. Technically, `.catch` should catch rejected promises, not necessarily errors. So we can throw in the first `.then`, but not here when we're checking the `data`. Here we should just use a simple `if(whatever.records)` and `else { displayErrorFunction() }`. So rather than throwing an Error in that else, we just call the notification oursel

[2017-02-01 18:24] brlodi commented on #112
@vonbearshark Whoops didn't see that issue when I searched

[2017-02-01 19:49] mbilker commented on #31
The `.catch` caught the errors when I used a `currentDate` when it was `undefined`. The reason why Promises catch `Error`s is to make it easier to `throw` and `catch` errors than using `try { ... } catch (e) { ... }`.

[2017-02-01 19:54] vonbearshark commented on #31
Right. There's some cases where Errors are thrown that `.catch` doesn't catch, like asych stuff, or after promise resolution. This could be the latter case.

[2017-02-01 19:58] mbilker commented on #31
EDIT: **Discussed with JJ**
There is something going on here with promise resolve and error handling. I devised a test case and the only case that can cause the issues you are seeing are `new Promise` or async stuff like `setTimeout` or `setInterval`.

[2017-02-01 20:36] vonbearshark commented on #46
@GavinFreud, we have another member with a similar background as yours interested in this Issue, @NicholasCorrado. Since this Issue is so big, I'm going to assign you both to it. I encourage you both to Start a Slack conversation, make a game plan, and start working on it together. For example, maybe one of you can handle choosing which fields are significant, and the other can handle using those

[2017-02-01 20:43] mbilker commented on #31
Also, I did make a mistake with calling `displayNotification` directly from the HTTP error response handler. It should `throw error;`.

[2017-02-02 03:56] cey10 commented on #95
@vonbearshark hey JJ. I think I understand what we're trying to do and how that's accomplished, but I'm not really sure how to implement that into the code that is already here. Could you explain how data is fetched from the server? Is the date limit related to options in the fetchWPRDCData function?

[2017-02-02 04:43] vonbearshark commented on #95
We have this collection of datasets here: https://github.com/Pitt-CSC/PantherView/blob/master/main.js#L224. Each one has a `.primaryFiltering` field, for example, the city police data: https://github.com/Pitt-CSC/PantherView/blob/master/main.js#L227. This will eventually be concatenated into the SQL part of the URL we send to the WPRDC server, here: https://github.com/Pitt-CSC/PantherView/blob/mas

[2017-02-03 00:23] mbabatunde commented on #19
I'd be interested in taking this on.  How exactly would you like this dataset to incorporated?

[2017-02-03 01:18] vonbearshark commented on #19
Good question. Right now we don't have any intersection data, really, so we'll just focus on the marked bike lane maps. This will be our first non-pin drawing on the map, but we'll probably like to draw a path, maybe a blue one, along the marked bikes lanes available. Possibly using a polyline from Leaflet: http://leafletjs.com/reference.html#polyline

[2017-02-03 03:30] brlodi commented on #19
Just an added note, this will take some parsing and computation. The dataset is inconsistently formatted text listing street and cross street, without any included spatial information. Even the 'type' column is inconsistent between semantically identical values.

[2017-02-03 15:20] drw commented on #19
@saylorsd and I looked at this dataset and agree that it should be made more useful. Since BikePGH made that animated GIF showing the bike lanes going in over time, they must have a Google Map that they've added the lanes to. I am going to contact the data steward for this dataset and see if we can get those lanes exported as a KML file and/or some other shapefile format, with the intention of pub

[2017-02-03 21:05] pitchaim commented on #67
Drunk driver incidence by time of day

![dd_by_tod](https://cloud.githubusercontent.com/assets/17146250/22608924/e92b7288-ea2c-11e6-971c-733dd83e541b.png)

[2017-02-03 22:56] pitchaim commented on #67
@vonbearshark @RitwikGupta working on comprehensive correlations table and a few more plots, will upload soon. How are we handling location for now? I've just arbitrarily filtered the data for lat/long within 1.5 miles of Cathy, do we have a better system in place?

[2017-02-03 23:16] vonbearshark commented on #67
For the request for data we've been adding a SQL to find everything tagged as the Oakland neighborhood: https://github.com/Pitt-CSC/PantherView/blob/master/main.js#L227

[2017-02-05 01:48] seifriedc commented on #31
Do we want to do anything for `Promise.all([...]).catch()`? Right now we just have `console.log`

[2017-02-05 10:31] mbilker commented on #31
I assume that we are going to do something to display a notification that
something really bad has happened.

That last catch should be a last resort. Catches before it will handle
errors on a more specific basis for things like request retry timeout and
displaying more relevant notifications about an error.

On Sat, Feb 4, 2017 at 8:48 PM Chris Seifried <notifications@github.com>
wrote:

[2017-02-05 16:23] vonbearshark commented on #31
^. We could maybe have a "retry" button for that, too, and that just re-tries the whole `Promise.all`

[2017-02-05 22:02] #31 closed

[2017-02-05 22:03] vonbearshark commented on #32
@seifriedc , you might as well take this one, too, haha.

[2017-02-05 22:03] vonbearshark commented on #33
@SPN11 This should be just like you did with #35

[2017-02-05 22:07] seifriedc commented on #32
Sounds good, thanks!

[2017-02-06 17:10] drw commented on #19
The BikePGH guy got back to me very quickly. Their [Pittsburgh bike infrastructure map](https://www.google.com/maps/d/u/0/viewer?mid=1UrHsHsb1UR7PD1AQPSKKbA-JH7s&ll=40.44918538642252%2C-79.972797780647&z=11) is actually available on the BikePGH web site. I just downloaded the KML file from there and converted it into GeoJSON (which is probably the geospatial file format that you want to use). You

[2017-02-07 21:34] mbilker commented on #61
I am generating the HTML and putting a list in the sidebar. Is that alright?

[2017-02-07 21:52] vonbearshark commented on #61
Each dataset will have a `.table` prop, the same way it has `.popup` now. That hasn't been implemented yet. But we will need a mechanism for UI itself. We need some kind of object that can take the result of calling `.table()` on the records that aren't mapped and adding them to that UI. We should also provide a way of filtering them out, just like we do with the map.

[2017-02-08 02:13] mbilker commented on #61
I am working on this at [display-invalid-markers](https://github.com/mbilker/club_project_2017/tree/display-invalid-markers)

[2017-02-08 02:16] mbilker commented on #61
@vonbearshark I am wondering if I should do it something like mbilker@13af60d2664392981db32d3f49693f72d81400d2

[2017-02-08 15:32] vonbearshark commented on #61
Two things: 1. I think this should be it's own UI, aligned on the right of the screen, opposite the current sidebar. 2. I think it should be a little more complicated than that--for example, how would we apply filters to this? We should be able to `newUI.add(marker)` and `newUI.remove(marker)`. `add` can just append, but `remove` might be a little trickier. We'll want to add and remove at the `rec

[2017-02-08 15:54] mbilker commented on #61
If more data sources are added in separate constant objects (e.g. `WPRDC_DATA_SOURCES`) then another reference so determine which object the marker belongs to so the display function can call the right `.table` method (or `.title` as I have it right now for testing).

[2017-02-08 17:46] mbilker commented on #61
@vonbearshark How does [this](https://github.com/Pitt-CSC/PantherView/compare/master...mbilker:display-invalid-markers) look?

[2017-02-12 02:11] vonbearshark opened #116 "Shuttle data"
Our Pitt API project has the shuttle API integrated. It would be an awesome addition to this

[2017-02-13 15:04] vonbearshark commented on #61
That looks great. Try and make the var names a little more appropriate, but the approach looks exactly like what we need

[2017-02-13 16:31] vonbearshark opened #117 "Crime alerts"
In addition to the EMS alerts, the Pitt API will soon have crime alert data. Would be great to have a notification for these

[2017-02-28 01:05] vonbearshark commented on #32
@saylorsd do you know how we can get the date the set has been modified? Does that come from the same endpoint? Seems like we only get the data right now

[2017-02-28 01:11] seifriedc commented on #18
@vonbearshark I can take this issue

[2017-02-28 01:11] saylorsd commented on #32
The `resource_show` endpoint is probably what you're looking for.  It will give you metadata on a resource including the modified timestamp.

You can check it out for the [air quality daily summary resource](https://data.wprdc.org/dataset/allegheny-county-air-quality/resource/7a417847-37bb-4a16-a25e-477f2a71661d) here: https://data.wprdc.org/api/action/resource_show?id=7a417847-37bb-4a16-a25e-477f

[2017-02-28 02:44] seifriedc commented on #32
Thanks @saylorsd ! I'm not sure exactly how to test my code in this case but I'll submit a PR and you can take a look @vonbearshark

[2017-02-28 03:00] saylorsd commented on #32
@seifriedc If the testing issue is waiting for an update, 311 will update every hour (except possibly at night when there is no new data).

[2017-02-28 03:10] seifriedc commented on #32
Ah good to know, thank you

[2017-02-28 04:01] vonbearshark commented on #19
Really neat link coming from Bob: http://www.bikepgh.org/2017/02/27/upitt-publishes-interactive-campus-bike-map/. Wonder where this data comes from

[2017-02-28 15:47] brlodi commented on #19
It looks to be pulling from the Google Maps API, so presumably someone at the University is maintaining a custom My Maps dataset with these points. We could probably make our own API call to get the point data and then map it ourself on Leaflet.

[2017-03-01 23:24] BenjaminMuscato commented on #95
Hey @vonbearshark, check out PR #123 for my solution to this issue. The arbitrary limitation has been removed, and the SQL is now properly retrieving only the records that were created within the last 30 days. The client-side pruning of the data (i.e. records from the last day, records within the last week) is still in-place.

[2017-03-03 21:18] vonbearshark commented on #95
Commented there, too, but can we remove the limitation on the other sets, too?

[2017-03-09 16:22] #32 closed

[2017-03-21 13:16] vonbearshark commented on #95
Closed by #123

[2017-03-21 13:16] #95 closed

[2017-03-21 14:08] seifriedc commented on #18
![screenshot](https://cloud.githubusercontent.com/assets/1783783/24150734/f91f8bde-0e1c-11e7-857d-e92fa3350143.png)

@vonbearshark So I'm not sure exactly how you'd like to implement the data table. Currently I'm trying out DataTables, but it uses jQuery. Also I'm not sure what columns we'd like to include. I decided to populate the tables using the `markers` array, which allows us to use the exis

[2017-03-21 17:16] vonbearshark commented on #18
First, that looks great. It's similar to what I had in mind.

It would be better if we didn't use jQuery. We don't need the pagination that this library offers. We could just have a really big page. I don't know if the search functionality comes with it, but I think we can work around that, too.

If you take a look at the most recent changes we should have some kind of `.table` function for each d

[2017-03-21 17:42] seifriedc commented on #18
Yeah I figured as much but wanted to check with you to make sure! Yes the search comes with it as well. So you're saying there already is a `.table` function for each dataset, or we should eventually do that? I don't see that in the current code.

Currently I have two buttons, Map and Data, on the top of the sidebar. Basically when the user clicks Data, the sidebar extends over the map as an overl

[2017-03-21 17:53] vonbearshark commented on #18
If it's not there now, it will be, yeah. Just like there is a `popup` function that returns HTML for the map popup, we want a function that will return HTML for a table entry, given a typical data point in a data set.

That's a great solution--I didn't even consider that!

[2017-03-21 17:59] seifriedc commented on #18
Oh sweet okay that makes a lot of sense. Thanks! Yeah still working out the kinks but we're making progress haha

[2017-03-27 03:42] SPN11 commented on #33
This one checks out on all requirements (in comparison to something like #35 ), and I de-duplicated some code for `fetchPittData()` as that is also where I put the laundry code. Also fixed some error handling.

[2017-03-27 14:05] vonbearshark commented on #33
This looks awesome. If only we had a server...

[2017-03-27 14:08] Rahi374 commented on #33
https://github.com/Pitt-CSC/PittAPI/blob/master/PittAPI/laundry.py

[2017-03-27 14:09] Rahi374 commented on #33
I thought we added this to PittAPI already?

[2017-03-27 14:12] vonbearshark commented on #33
I hope so or this code wouldn't work, haha. The PittAPI has the actual call for the laundry data. This is the user interface for accessing that data, which involves calling the PittAPI server from the browser. Except we don't _have_ the server access yet.

[2017-03-27 14:32] Rahi374 commented on #33
Oooooh
I thought we got a server already

[2017-03-27 15:07] SPN11 commented on #33
If we want we can merge it in and comment out all the `fetchPittData()` function calls in `fetchAllData()` until we have the server, then just edit the URLs in `fetchPittData()` and uncomment the calls once we do (Just so we aren't always getting those ugly errors when we load PantherView). Speaking of URLs, @RitwikGupta what would be the base URL to fetch laundry data from the API?

[2017-03-27 15:11] RitwikGupta commented on #33
Would be `/laundry/simple/<location>` or `/laundry/detailed/<location>` depending on the info you want

[2017-03-27 15:13] SPN11 commented on #33
Would you want me to use simple or detailed for this? And I meant what would the domain be? Haha sorry I should have been more specific. I mean we don't have the server yet but just for future reference if you know.

[2017-03-27 15:14] RitwikGupta commented on #33
Domain still isn't decided yet. And it's up to you what you want to use. I think `simple` is probably closest to what you need.

[2017-03-27 15:16] SPN11 commented on #33
Cool! I used `simple` for now, but if we want to later I can do `detailed`

[2017-04-01 14:23] #33 closed

[2017-04-01 14:28] vonbearshark commented on #36
Closed by #129

[2017-04-01 14:29] vonbearshark commented on #35
Closed by #129

[2017-04-01 14:29] #35 closed

[2017-04-01 14:29] vonbearshark commented on #34
Closed by #129

[2017-04-01 14:29] #34 closed

[2017-04-01 14:30] #106 closed

[2017-04-01 14:30] #67 closed

[2017-04-01 14:31] #60 closed

[2017-04-01 14:34] #20 closed

[2017-04-01 14:34] #27 closed

[2017-04-01 14:35] #64 closed

[2017-04-01 14:40] vonbearshark commented on #21
@Rahi374 How is this coming along? I think the PittAPI accommodate this food data stuff now!

[2017-04-01 14:41] vonbearshark commented on #70
@jfw20 How is this coming along? Any hang-ups I can help you with?

[2017-04-01 14:42] #96 closed

[2017-04-01 20:20] Rahi374 commented on #21
Oh oops I did the backend and forgot about the frontend :p
Should I inplement the food safety data too or just the dining statuses?

[2017-04-01 20:23] vonbearshark commented on #21
Just the dining statuses, I think. Unless you're feeling ambitious, haha

[2017-04-01 20:25] vonbearshark commented on #18
How's this coming along, @seifriedc?

[2017-04-01 20:43] seifriedc commented on #18
I have the table generating and displaying correctly, but I'm having trouble figuring out how to hook it in with our filters. I'll post some code I have and a screenshot in a few minutes when I'm on my laptop.

Currently I have it just appending rows to the table when we fetch the data, and hiding the table at first obviously. But I'm trying to figure out how to have each row mapped to it's corres

[2017-04-01 20:47] vonbearshark commented on #18
Yeah that's a good question. I'm wondering if the filter function should throw out the whole table when it's called, then re-generate it every time.

[2017-04-01 21:27] seifriedc commented on #18
That might be what we have to do. Ideally I'd like to just `display: none` each filtered table row.

So in data.js I have a `table` field for each dataset like this (just 3 columns as an example):
[code]
Then in main.js, at the end of our `fetch()`:
[code]
Is there a way we can save a reference to the row in each `marker`/`record`? Or maybe we can give each row an id (doesn't each `record` have on

[2017-04-01 21:35] vonbearshark commented on #18
That's a great system.

I don't think we can assume that each record will get a unique ID. We could probably make one using the datasource name + the index of the record.

Really, it might be cleanest if we just have filter totally toss the table (with something like `innerHTML = ""`) and totally re-write everything. I think you'll find that's actually pretty quick, and it simplifies everything

[2017-04-01 23:37] seifriedc commented on #18
Ok I have to adjust my code for the recent PR that was accepted. Do we want Pitt data in the table? Like laundry/labs?

[2017-04-01 23:51] vonbearshark commented on #18
No, it's fine without it for now

[2017-04-02 00:12] seifriedc commented on #18
Sounds good - think I got it working so I'll submit a PR here soon

[2017-04-02 23:38] #18 closed

[2017-04-02 23:48] seifriedc commented on #18
Also I'm working on the data view for mobile currently (not sure if I should make a new issue or not)

[2017-04-02 23:58] vonbearshark commented on #18
You can just sub a PR whenever you're ready

[2017-04-03 16:30] SPN11 commented on #116
What kinds of UI features / features in general are you looking for? There's a lot of functionality, and a TON of data haha. One could be a window containing estimates for each shuttles next stop location and time, or maybe filterable (Like uncheck a box, and the route disappears) highlighted routes for each shuttle. It'd be really tough to have live pins of each moving shuttle (and a lot of calls

[2017-04-03 16:35] vonbearshark commented on #116
Yeah, I get the impression that live shuttle pins would bog us down, but having a pin per stop with an ETA for the shuttle would be helpful, I think

[2017-04-04 03:36] jfw20 commented on #70
Hey, sorry for slow response.  Haven't really worked on it.  If anyone else wants to take a whack at it you can re-assign it, otherwise I'll try to get to it as soon as I can.

[2017-04-04 03:43] vonbearshark commented on #70
You're good!

[2017-04-04 15:38] SPN11 commented on #116
Pin per stop could be a lot of pins, though. Perhaps a pin for the location of each shuttle's next stop? Then each popup would have the name of the shuttle, along with its ETA to that stop (These pins can be filtered by a checkbox)? Then underneath the legend (or have a "Shuttles" tab) maybe we could have a small table that contains this information? That way users don't have to click every pin to

[2017-04-04 15:46] vonbearshark commented on #116
Those are interesting ideas. Pick one and let's see what it looks like

[2017-04-29 00:18] vonbearshark opened #132 "Feeback Form"
We would love to add some kind of feedback form for users to be able to quickly fill out and submit bugs/suggestions. Something super lightweight. Does anyone have any ideas? Otherwise, we'll probably go with a Google form.

Either way, we'll need to add this into the copy near the trademark. While we're at it, we should add the logo to the trademark area, and make that text bigger. If the map wil

[2017-04-29 00:19] vonbearshark opened #133 "Importable"
This project needs to be easily import-able. We are open to different ways to do that. We could move all the JS back into one file again, and host it on some CDN, for example. Or we could use the raw GH source link. Any other ideas?

[2017-05-30 01:22] kingsman142 opened #136 "Sidebar on mobile should not be open by default"
On mobile, when you load PantherView, the sidebar with checkboxes should be closed by default (there is supposedly code for this in map.js).  However, when I inspect PantherView with Chrome developer tools in mobile view and refresh the page, the sidebar comes open.  I have not tested this on an actual phone but it should produce the same result.

[2017-05-30 04:37] kingsman142 commented on #65
@ajfortuna97 Are you still working on this About page or am I able to remove you as an assignee?  I'm fine with either one, but since it's been 4 months, I'd like to know if this can be assigned to somebody else.

[2017-08-06 23:59] seifriedc commented on #136
Yep, can confirm this on iPhone. I'll look into fixing this

[2018-01-25 22:30] #136 closed

[2020-09-15 20:34] johnlinahan commented on #13
:wave:

[2020-09-15 20:34] #13 closed